
body {
  background-color: #f3f6ff;
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}
.slideImageContainer{
  background-color: #f9d370;
  margin:1vw 0;
  display: flex;
  flex-wrap: wrap;
}
.slideimg1{
  display: flex;
  flex-wrap: wrap;
}
/* .nonHItemContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  width: 95%;
  
} */
.vintageChair{
  display: flex;
  /* flex-wrap: wrap;  */
  flex-direction: row;
  background-color:#ffffff;
  width: auto;
  margin: 1rem;
  padding: 1rem;

}
.terracotta{
  display: flex;
  /* flex-wrap: wrap;  */
  flex-direction: row;
  background-color:#f4f4f2;
  width: auto;
  margin: 0.5rem;
  padding: 1rem;
  height: 14rem;

}
.vintageChairText{
  padding-top: 4.5rem;
  padding-left: 2rem;
}
.headtext{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #323334;
}
#viewDetail{
  cursor: pointer;
  border: 0;
  background-color: #4c8787;
  color: #F3F6FF;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 1rem;
}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.hoverItemRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#linenTowel{
  opacity: 0.5;
  z-index: -1;
  margin-bottom: 24%;
}
.bigCont{
  position: relative;
  margin:0 0.5vw;
}
.smallcont{
  margin:0 0.5vw;
  
}
#smallcontImag{
  background-color: #eae9e7;
}
.textoverlay{
  position: absolute;
    top: 0;
    left: 0;
    padding-top: 30%;
    width: 100%;
    height: 81%;
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    color: white;
    text-align: center;
    line-height: 2;
}
.headtext1{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}
.fourItemsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bedsheetContainer{
  
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

}
.bedsheetImg{
  position: relative; 
  z-index: 1; 
  margin: 0;
  padding: 0;
  height: 120%;
  display: flex;
  flex-wrap: wrap;
}
.bedsheetText{ 
  position:absolute;

    top: 0;
    left: 0;
    padding: 5.5rem;
    z-index: 2;
    opacity: 0.9;
    background-color: #F9D370CC;
    margin-left: 20rem;
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
}
.headtext2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;

}
.chair-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #F9D370CC;
}
.napkin-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #eae9e7;
}
.cup-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e9e8e7;
}

.headtext2{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #323334;
}
.Sale{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    color: #A86A3D;
}

.topratingcardcontainer{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  margin: 2rem;
}
.topratingcardtext{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 15vh;
  padding-left: 1rem;
  width: 10rem;
  
}
.topratingcard{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;

}
.headtext3{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #323334;
    margin: 2rem;
}
.headtext4{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: #323334;
    margin-top: 3rem;
}
.topratingname{
  font-family: 'Roboto', sans-serif;
    font-weight: 500;

}
.topratingcardtext{
  margin-left: 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.productDetailImg{
  margin:0 1vw ;
}
.productDetailContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.quantity{
  margin-top: 1rem;
  width: 25rem;
  height: 3rem;
  background-color: #f3f6ff;
  outline:1px solid #323334;
  font-family: 'Roboto', sans-serif;
  border: 0;
}
#cart{
  margin-top: 2rem;
  cursor: pointer;
  border: 0;
  background-color: #4c8787;
  color: #F3F6FF;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 1rem;
}
#horizontalDetail{
  transform: rotate(90deg);
  margin-left: 15rem;
  margin-top: 0%;
  padding-top: 0%;
  padding: 0%;
}
.extradetails{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #323334;
  background-color: #F9D370CC;
  width: 45rem;
  padding: 3rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.productDetailImg{
  display: flex;
}
.cartfinal{
  display: flex;
  flex-wrap: wrap;
  margin:3rem;
  /* margin-left: 4rem;
  gap: 10rem; */
  justify-content: space-evenly;
}
#cartHeader{
  display: flex;
  flex-wrap: wrap;
  margin:2rem;
  margin-left: 13rem;
 
 justify-content: space-evenly;
}