
body {
  background-color: #f3f6ff;
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}
.slideImageContainer{
  background-color: #f9d370;
  margin:1vw 0;
  display: flex;
  flex-wrap: wrap;
}
.slideimg1{
  display: flex;
  flex-wrap: wrap;
}
.nonHItemContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  
}
.vintageChair{
  display: flex;
  flex-wrap: wrap; 
  background-color:#ffffff;
  width: 35rem;
  margin: 3rem;
  padding: 0;
  margin: 0;

}
.terracotta{
  display: flex;
  flex-wrap: wrap; 
  background-color:#f4f4f2;
  width: 35rem;
  margin: 3rem;
  padding: 0;
  margin: 0;

}
.vintageChairText{
  padding-top: 4.5rem;
  padding-left: 2rem;
}
.headtext{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #323334;
}
#viewDetail{
  cursor: pointer;
  border: 0;
  background-color: #4c8787;
  color: #F3F6FF;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 1rem;
}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.hoverItemRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#linenTowel{
  opacity: 0.5;
  z-index: -1;
  margin-bottom: 24%;
}
.bigCont{
  position: relative;
  margin:0 1vw;
}
.smallcont{
  margin:0 1vw;
}
.textoverlay{
  position: absolute;
    top: 0;
    left: 0;
    padding-top: 30%;
    width: 100%;
    height: 81%;
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    color: white;
    text-align: center;
    line-height: 2;
}
.headtext1{
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}
.fourItemsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}